In [1]:
a=int(input('enter a value :'))
if a%2==1:
    print('the value is odd')
else:
    print('the value is even')

enter a value :8
the value is even

In [2]:
b=int(input('enter a value :'))
if a<0:
    print('the value is negative')
elif a>0:
    print('the value is positive')
else:
    print('the value is neutral')

enter a value :8
the value is positive

In [3]:
s1=set([1,2,3,4,5])
print(s1)
s2=set([6,7,8,9,4])
print(s2)

{1, 2, 3, 4, 5}
{4, 6, 7, 8, 9}

In [4]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
s1.intersection(s2)

{4}

In [6]:
s1.difference(s2)

{1, 2, 3, 5}

In [7]:
s2.difference(s1)

{6, 7, 8, 9}

In [8]:
d={'name':'zayan','age':2}
d['name']

'zayan'

In [9]:
d['age']=3

In [10]:
print(d)

{'name': 'zayan', 'age': 3}

In [11]:
d['name']='aizin'

In [12]:
print(d)

{'name': 'aizin', 'age': 3}

In [13]:
d['address']='green palace'

In [14]:
print(d)

{'name': 'aizin', 'age': 3, 'address': 'green palace'}

In [15]:
del d['address']

In [16]:
print(d)

{'name': 'aizin', 'age': 3}

In [17]:
d.del ()
print(d)

SyntaxError: invalid syntax (2528830346.py, line 1)

In [ ]:
E=set([1,5,8,9,5,4,3,2])
print(E)

In [ ]:
f=set([1,3,2,8,9,4,5])
print(f)

In [ ]:
f.issubset(E)

In [ ]:
len(f)

In [ ]:
d5={1:2,3:4,5:6,7:8}
x=d5.keys()

In [ ]:
print(x)

In [ ]:
y=d5.values()
print(y)

In [ ]:
s=0
for i in x:
    s=s+i
print(s)

In [ ]:
s=0
for i in y:
    s=s+i
print(s)

In [ ]:
b=int(input('enter the starting range :'))
c=int(input('enter the ending range :'))
s=0
s1=0
for i in range(b,c+1):
    if i%2==0:
        s=s+i
    elif i%2==1:
        s1=s1+i
print('the value is even :',s)
print('the value is odd :',s1)

In [ ]:
n=int(input('starting range :'))
z=int(input('ending range :'))
s=1
for i in range(n,z+1):
    s=s*i
    print(s)

In [ ]:
t=int(input ('enter the limit :'))
a=0
b=1
print(b)
for i in range(b,t+1):
    sum=a+b
    print(sum)
    a=b
    b=sum

In [ ]:
y1=int(input('entr the limit :'))
a1=0
b1=1
for i in range(b1,y1+1):
    sum=a1+b1
    print(sum)
    a1=b1
    b1=sum

In [ ]:
f=int(input('enter the limut :'))
for i in range(f+1):
    print(i)
    if i==5:
        break

In [ ]:
j=int(input('enter the limit :'))
for i in range(j+1):
    print(i)
    if i==5:
        continue

In [ ]:
j8=int(input('enter the limit :'))
a=0
b=1
print(b)
for i in range(b,j8+1):
    sum=a+b
    print(sum)
    a=b
    b=sum

In [19]:
j8=int(input('enter the limit :'))
for i in range(j8+1):
    print(i)
    if i==5:
        continue

enter the limit :8
0
1
2
3
4
5
6
7
8

In [21]:
f=int(input('enter the limit :'))
for i in range (f+1):
    print(i)
    if i==5:
        continue
    elif i==7:
        continue

enter the limit :8
0
1
2
3
4
5
6
7
8

In [23]:
n=1
n<4
pass

In [4]:
nt=int(input('enter the limit'))
n1=0
n2=1
count=0
if nt<0:
    print('please enter a positive intiger')
elif nterms==1:
    print('febinacci sequence upto',nterms)
else:
    while count<nt:
        print(n1)
        nth=n1+n2
        n1=n2
        n2=nth
        count+=1

enter the limit5

NameError: name 'nterms' is not defined

In [6]:
num=12345
reverse=0
while num !=0:
    digit=num%10
    reverse=reverse*10+digit
    num//=10
    print(str(reverse))

5
54
543
5432
54321

In [7]:
nmbr=2789453
reverse=0
while nmbr !=0:
    digit=nmbr%10
    reverse=reverse*10+digit
    nmbr//=10
    print(str(reverse))

3
35
354
3549
35498
354987
3549872

In [8]:
no=int(input('enter the number :'))
reverse=0
while no !=0:
    digit=no%10
    reverse=reverse*10+digit
    no//=10
    print(str(reverse))

enter the number :987654321
1
12
123
1234
12345
123456
1234567
12345678
123456789

In [16]:
l5=[123456789]
l5.reverse()
print(l5)

[123456789]

In [15]:
b=l5[::-1]
print(b)

[123456789]

In [17]:
nbr=9645784102
reverse=0
while nbr!=0:
    digit=nbr%10
    reverse=reverse*10+digit
    nbr//=10
    print(str(reverse))

2
20
201
2014
20148
201487
2014875
20148754
201487546
2014875469

In [27]:
l=int(input('enter a number'))
count=0
while l!=0:
    digit=l%10
    count=count+digit**3
    l//=10
print(str(count)+'is a armstrong number')

enter a number153
153is a armstrong number

In [14]:
num=int(input('enter a number'))
order=len(str(num))
temp=0;
sum=0
while (temp>0):
    digit=temp%10
    sum +=digit**order
    temp//=10
if (sum==num):
    print('',num,'is a armstromg number')
else:
    print('',num,'is not a armstrong number')

enter a number153
 153 is not a armstrong number

In [13]:
num=int(input('enter a number :'))
length= len(str(intiger))
tem =num;
sum=0
while (temp>0):
    digit=temp%10
    sum += digit**order
    temp=temp//10
if (sum==num):
    print('',num,'is a armstrong number')
else:
    print('',num,'is not a armstrong number')

enter a number :153
 153 is not a armstrong number

In [17]:
number=int(input('enter the number :'))
order= len(str(number))
temp=number;
sum=0
while (temp>0):
    digit=temp%10
    sum +=digit**order
    temp=temp//10
if (sum==number):
    print('',number,'is a armstrong number')
else:
    print('',number,'is not a armstrong  number')

enter the number :125
 125 is not a armstrong  number

In [1]:
num=int(input('enter a number :'))
length=len(str(num))
temp=num;
sum=0
while (temp>0):
    digit=temp%10
    sum +=digit**3
    temp=temp//10
if (sum==num):
    print('',num,'is a armstrong number')
else:
    print('',num,'is not a armstrong number')

enter a number :153
 153 is a armstrong number

In [2]:
def example ():
    print("hai")

In [3]:
example()

hai

In [6]:
def sum(a,b):
    print(a+b)
sum(5,9)

14

In [7]:
def add (b,h):
    print(b-h)
add (7,9)

-2

In [10]:
def student(name,age):
    print(name,age)
student('akku',19)

akku 19

In [15]:
def wish(name,msg='good morning'):
    print('hi',name+' '+msg)
wish('sulfath')

hi sulfath good morning

In [18]:
wish('karthu')

hi karthu good morning

In [19]:
wish('anu','how are you')

hi anu how are you

In [20]:
def student(name,age):
    print(name)
    print(age)
student('adarsh',age=20)

adarsh
20

In [21]:
def student(name,age):
    print(name)
    print(age)
student(age=21,shana)

SyntaxError: positional argument follows keyword argument (2099497022.py, line 4)

In [22]:
def sum(a,b):
    print(a+b)
    print(a-b)
sum(5,3)

8
2

In [26]:
def employee(name,salary=9000):
    print(name)
    print(salary)
employee('asmi')

asmi
9000

In [27]:
a=lambda x:x*2
print(a(2))

4

In [28]:
v=lambda x:x**2
print(v(5))

25

In [29]:
s=[1,2,3,4,5,6,7,8]
l=list(filter(lambda x:x%2==0,s))

In [30]:
print(l)

[2, 4, 6, 8]

In [31]:
l1=list(map(lambda x:x**2,s))

In [33]:
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64]

In [36]:
f=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
u=list(map(lambda x1:x1**2,f))
print(u)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [37]:
j=list(filter(lambda x:x%2==1,f))
print(j)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [38]:
j1=list(filter(lambda x:x%2==0,f))
print(j1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [42]:
j2=list(filter(lambda x:x**2,j+j1))
print(j2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]