In [1]:
# Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

numbers=input()
list=numbers.split(",")

print("list :",list)
print("tuple :",tuple)

1,2,4,5,9
list : ['1', '2', '4', '5', '9']
tuple : <class 'tuple'>

In [2]:
#calendar

import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2002
Input the month : 4
     April 2002
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [3]:
#You are making a ticketing system.

#The price of a single ticket is $100.

#For children under 3 years of age, the ticket is free.

#Your program needs to take the ages of 5 passengers as input and output the total price for their tickets.

totel=0
i=0
while i < 5:
    age = int (input ())
    i=i+1
    if age < 3:
        continue
    totel+=100
    print(totel)

3
100
2
87
200
18
300
14
400

In [4]:
# to find difference between two days
from datetime import date
day1=date(2002,4,5)
day2=date(2002,4,21)
dif=(day2-day1)
print(dif)

16 days, 0:00:00

In [5]:
# The volume of a sphere

h=7
r=3
volume=(3.14*r**2*h)
print(volume)

197.82000000000002

In [6]:
# area of a circle

r=3
area=(3.14*r**2)
print(area)

28.26

In [7]:
# volume of a sphere

v=4/3*3.14*(r**3)
r=6
volume=(4/3*3.14*(r**3))
print(volume)

904.3199999999999

In [8]:
# find odd and even numbers within 1 to 10 by using while loop
x = 1
while x <= 10:
  if x%2 == 0:
    print(str(x) + " is even")
  else:
    print(str(x) + " is odd")

  x += 1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [9]:
#1 Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

def numbers(data):
    if len(data)==len(set(data)):
        return True
        #print("Yes")
    else:
        #print("No");
        return False;
print(numbers([2,3,4,5,6]))
print(numbers([2,2,5,6,4,4]))

True
False

In [10]:
data=[2,3,4,5,7]
len(set(data))

5

In [11]:
#2 Write a Python program to find the median among three given numbers.

x=int(input("first number :"))
y=int(input("second number :"))
z=int(input("third number :"))
print("median number :")
if y < x and x < z:
    print(x)
elif z < x and x < y:
    print(x)
    
elif z < y and y < x:
    print(y)
elif x < y and y < z:
    print(y)
    
elif y < z and z < x:
    print(z)    
elif x < z and z < y:
    print(z)

first number :23
second number :67
third number :89
median number :
67

In [12]:
#3 sum of odd and even numbers

a=int(input("enter starting range :"))
b=int(input("enter ending range :"))
s=0
s1=0
for i in range(a,b+1):
    if i%2==0:
        s=s+i
    elif i%2==1:
        s1=s1+i
print("sum of even numbers",s)
print("sum of odd numbers",s1)

enter starting range :1
enter ending range :20
sum of even numbers 110
sum of odd numbers 100

In [13]:
#4 purchase a product from flipkart.we got 20% discount on upto 1500 shopping.

a=int(input("totel purchase amount :"))
if a>1500:
    b=(a*20/100)
    print("your discount amount is :",b)
    print("the amount you paying is :",a-b)
else:
    print("you have no discount!!")

totel purchase amount :1880
your discount amount is : 376.0
the amount you paying is : 1504.0

In [14]:
#5 check weather an integer is positive negative or neutral

number=int(input("enter an number: "))
if number>0:
    print("the number is positive.")
elif number<0:
    print("the number is negative.")
else:
    print("thr number is zero")

enter an number: 16
the number is positive.

In [15]:
#6 SSLC marklist
m1=int(input("malayalam :"))
m2=int(input("Arabic :"))
m3=int(input("English :"))
m4=int(input("Hindi :"))
m5=int(input("Mathematics :"))
m6=int(input("Physics :"))
m7=int(input("Chemistry :"))
m8=int(input("Biology :"))
m9=int(input("IT :"))
m10=int(input("Social Science :"))
M=m1+m2+m3+m4+m5+m6+m7+m8+m9+m10
if M>900:
    print("A+")
elif M>800 and M<900:
    print("A")
elif M>700 and M<800:
    print("B+")
elif M>600 and M<700:
    print("B")
elif M>500 and M<600:
    print("C+")
elif M>400 and m<500:
    print("C")
elif M>300 and M<400:
    print("D+")
else:
    print("FAILED!!!")

malayalam :89
Arabic :90
English :78
Hindi :56
Mathematics :98
Physics :23
Chemistry :56
Biology :67
IT :89
Social Science :78
B+

In [16]:
#7 Display three string “Name”, “Is”, “James” as “Name**Is**James”

a=('name','is','james')
b="**"
b.join(a)

'name**is**james'

In [17]:
#8  Display float number with 2 decimal places using print()

number=345.8754
print('%.2f' % number)

345.88

In [18]:
number=45.987345663
print('%.3f'% number)

45.987

In [19]:
number=45.987345663
around

NameError: name 'around' is not defined

In [ ]:
#9 Accept a list of 5 float numbers as an input from the user

numbers = []

# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    numbers.append(item)

print("User List:", numbers)

In [ ]:
numbers=[]
for i in range(0,5):
    print("enter number at location",i, ":")
    items=float(input())
    numbers.append(items)
print("mylist :",numbers)

In [ ]:
#10 Write all content of a given file into a new file by skipping line number 5


files="file"
for i in range(1,7+1):
    print(files,i)
    if i==5:
        i+=1
        continue

In [ ]:
#11 Format variables using a string.format() method.

totalMoney = 1000
quantity = 3
price = 450

I have 1000 dollars so I can buy 3 football for 450.00 dollars.
print("I have {} dollars so I can buy {} football for {} dollars .".format(totelMoney,quantity,price))

In [ ]:
#12 Check file is empty or not


mylist=[]
length=len(mylist)
if length<=0:
    print("The file is empty.")
else:
    print("The file has values")

In [ ]:
#13 Read line number 4 from the following file

file=[1,4,2,6,7,8,"string"]
file[1]

In [20]:
#14 Print First 10 natural numbers using while loop

i=1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [21]:
num=1
s=0
for i in num:
    s+=1
    print(s)

TypeError: 'int' object is not iterable

In [22]:
#15 Print the following pattern
#1 
#1 2 
#1 2 3 
#1 2 3 4 
#1 2 3 4 5


for i in range(1,5+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
#Write a program to print multiplication table of a given number

for i in range(1,10+1):
    print(i*2)

2
4
6
8
10
12
14
16
18
20



for i in range(1,10+1):
    print(i*2)

In [31]:
#17 Display numbers from a list using loop

#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop



numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i>150:
        continue
    elif i > 500:
        break
    elif (i%5==0):
        print(i)

75
150
145
50

In [34]:
#18 Count the total number of digits in a number



num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [35]:
75869//10

7586

In [39]:
#19 print the following pattern
#5 4 3 2 1 
#4 3 2 1 
#3 2 1 
#2 1 
#1

n=5
k=5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [42]:
#20 Print list in reverse order using a loop
#list1 = [10, 20, 30, 40, 50]


list1=[10,20,30,40,50]
list2=reversed (list1)
for i in list2:
    print(i)

50
40
30
20
10

In [43]:
#21 Display numbers from -10 to -1 using for loop
for i in range(-10,-1+1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [48]:
#22 Use else block to display a message “Done” after successful execution of for loop

for i in range(0,5+1):
    print(i)
    if i==5:
        print("Done")

0
1
2
3
4
5
Done

In [49]:
#23 Write a program to display all prime numbers within a range


start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    
    if num > 1:
        for i in range(2, num):
            
            if (num % i) == 0:
                
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [50]:
#24 Display Fibonacci series up to 10 terms

a=0
b=1
for i in range(1,10+1):
    if(i<=1):
        sum=i
    else:
        sum=a+b
        a=b
        b=sum
        print(sum)

1
2
3
5
8
13
21
34
55

In [54]:
#25 Use a loop to display elements from a given list present at odd index positions

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i,end=" ,")

20 ,40 ,60 ,80 ,100 ,

In [58]:
#26 Calculate the cube of all numbers from 1 to a given number
a=int(input("starting range :"))
b=int(input("ending range :"))
for i in range(a,b+1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

starting range :1
ending range :6
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [66]:
#27 Print the following pattern
#* 
#* * 
#* * * 
#* * * * 
#* * * * * 
#* * * * 
#* * * 
#* * 
#*


rows=5
for i in range(rows+1):
    print("* "*i)
for i in range(rows-1,0,-1):
    print("* "*i)
print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [71]:
#28 Create a string made of the first, middle and last character

str1="james"
#print(str1[0])
#print(str1[2])
#print(str1[4])
print(str1[0],str1[2],str1[4])

j
m
s
j m s

In [73]:
#29 Append new string in the middle of a given string

s1 = "Ault"
s2 = "Kelly"
def append_middle(s1, s2):
    print( s1, s2)

    
    mi = int(len(s1) / 2)

    
    x = s1[:mi:]
    
    x = x + s2
    
    x = x + s1[mi:]
    print( x)

append_middle("Ault", "Kelly")

Ault Kelly
AuKellylt

In [74]:
#30  Concatenate two lists index-wise


list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [75]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
zip(list1,list2)